@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<style>
    .full-height {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
    }


    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .card-body {
        padding: 2rem;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
</style>

<div class="container-fluid d-flex justify-content-center align-items-center full-height">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Login</h2>
                <hr />
                <form method="post">
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" type="password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <input asp-for="Input.RememberMe" class="form-check-input" />
                        <label asp-for="Input.RememberMe" class="form-check-label"></label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
                <hr />
                <div class="text-center">
                    <a asp-page="./ForgotPassword">Forgot your password?</a>
                </div>
                <div class="text-center">
                    <a asp-page="./Register">Don't have an account? Register now</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
